* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: bisque;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    overflow-x: hidden;
}

.button-group {
    display: flex;
    gap: 10px;
    margin: 20px 0px;
}

button {
    padding: 10px 20px;
    border: 1px solid green;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    cursor: pointer;
}

button:hover {
    border: 1px solid red;
}

.menu-items {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    padding: 0px 4px;
}

.menu-item {
    padding: 5px 4px;
    flex: 50%;
    width: 200px;
    min-height: 100px;
    background-color: blanchedalmond;
    display: flex;
}

.menu-image {
    float: left;
    clear: right;
}

.menu-info {
    padding: 8px;
}

.menu-title {
    display: inline-block;
}

.menu-price {
    display: inline-block;
    float: right;
}